[submodule "src/main/webapp/react_redux_webpack"]
	path = src/main/webapp/react_redux_webpack
	url = git@github.com:sohil8chhabriya/react_redux_webpack.git
[submodule "sb-admin-react"]
	path = sb-admin-react
	url = git@github.com:start-react/sb-admin-react.git
