.wrapper{
	text-align: center;
	box-shadow: 0 0 15px 0px #888888;
	background-image: url('../images/bg.jpg');
	margin-left: auto;
	margin-right: auto;
}

.wrapper.loginForm{
	width: 775px;
	height: 354px;
}

.wrapper .header{
	background-image: url('../images/menu_bg.png');
	height: 40;
}

.loginForm{
	width: 272px;
	margin: 100px auto 0;
}
.label{
	width: 392px;
}